
@{
    ViewBag.Title = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control {
        direction: rtl;
        background-color: #f1f2f7;
        margin-bottom: 20px;
        margin-top: 10px;
    }
</style>


<div class="row">
    <div class="col-md-5">
        <div style="background-color:white;padding: 10px;border-radius: 10px;">
            <p style="margin-bottom:0px">کلمه عبور قدیم</p>
            <div class="form-line focused fix">
                <input id="aaa" class="form-control" placeholder="کلمه عبور قدیم را وارد کنید" />
            </div>
            <p style="margin-bottom:0px">کلمه عبور جدید</p>
            <div class="form-line focused fix">
                <input id="aaa" class="form-control" placeholder="کلمه عبور را وارد کنید" />
            </div>
            <p style="margin-bottom:0px">تکرار کلمه عبور جدید</p>
            <div class="form-line focused fix">
                <input id="aaa" class="form-control" placeholder="کلمه عبور را وارد کنید" />
            </div>

            <br />
            <br />

            <div class="form-group btn-container">
                <button type="button" class="btn btn-primary btn-block" id="Login" style="background-color: #eb8121 !important;height:50px ">
                    اعمال تغییرات
                </button>
            </div>

            <div class="row" style="margin-top: 15px;">
                <div class="DotText"></div>
                <p class="col-md" style="color: #eb8121;font-size: 10px;margin-top: 0px;text-align: right;">در صورت نداشتن اطلاعات کاربری با بخش پشتیبانی شرکت مهندسی کاربرد کامپیوتر تماس بگیرید</p>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/ChangePassword.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}