
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="padding-top: 20px">

        <div style="margin: 0 auto; width: 500px;">
            <div class="padding5b B rtl">
                تغییر کلمه عبور
            </div>
            <div>
                <div class="rCaption w120 rtl">
                    کلمه عبور فعلی:
                </div>
                <div class="rFloat">
                    <span id="ctl00_cph_rfvOldPassword" title="Password is required." style="color:Red;visibility:hidden;">الزامی است</span>
                    <input name="ctl00$cph$txtOldPassword" type="password" id="ctl00_cph_txtOldPassword">
                </div>
                <div class="floatfix">
                </div>
            </div>
            <div>
                <div class="rCaption w120 rtl">
                    کلمه عبور جدید:
                </div>
                <div class="rFloat">
                    <span id="ctl00_cph_rfvNewPass" title="الزامی است" style="color:Red;visibility:hidden;">الزامی است</span>
                    <input name="ctl00$cph$txtNewPass" type="password" id="ctl00_cph_txtNewPass">
                </div>
                <div class="floatfix">
                </div>
            </div>
            <div>
                <div class="rCaption w120 rtl">
                    تکرار کلمه عبور جدید:
                </div>
                <div class="rFloat">
                    <span id="ctl00_cph_rfvConfirmPass" title="الزامی است" style="color:Red;visibility:hidden;">الزامی است</span>
                    <input name="ctl00$cph$txtConfirmPass" type="password" id="ctl00_cph_txtConfirmPass">
                </div>
                <div class="floatfix">
                </div>
            </div>
            <div class="B rtl padding5b" style="padding-top: 20px">
                پست الکترونیک
            </div>
            <div>
                <div class="rCaption w120 rtl">
                    آدرس پست الکترونیک:
                </div>
                <div class="rFloat">
                    <span id="ctl00_cph_revEmail" style="color:Red;visibility:hidden;">صحیح نیست</span>
                    <input name="ctl00$cph$txtEmail" type="text" id="ctl00_cph_txtEmail" style="width:250px;">
                </div>
                <div class="floatfix">
                </div>
            </div>

            <div>
                <div class="rCaption w120">
                </div>
                <div class="rFloat">
                    <input type="submit" name="ctl00$cph$btnChange" value="ثبت تغییرات" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;ctl00$cph$btnChange&quot;, &quot;&quot;, true, &quot;chPass&quot;, &quot;&quot;, false, false))" id="ctl00_cph_btnChange">
                </div>
                <div class="floatfix">
                </div>
            </div>
            <div style="text-align: right; padding-right: 120px; color: Red">

                <span id="ctl00_cph_cvPasswordCompare" style="color:Red;display:none;">تکرار کلمه عبور با کلمه عبور جدید یکی نیست</span>
            </div>
        </div>
    </div>
    <ul class="rtl" style="text-align: right;">
        <li class="red">
            با وارد کردن آدرس پست الکترونیک شما تایید می کنید که شرکت مهندسی کاربرد
            کامپیوتر اجازه ارسال ایمیل به این آدرس را دارد.
        </li>
        <li>
            در صورت وارد کردن آدرس پست الکترونیک و انجام عملیات تایید آن می توانید از این پس
            از وجود فایل برای دریافت توسط ارسال پست الکترونیک آگاه شوید.
        </li>
        <li>
            همچنین در صورت فراموش کردن کلمه عبور می توانید با استفاده از آدرس پست الکترونیک
            خود نسبت به بازیابی کلمه عبور اقدام کنید.
        </li>
        <li>در صورت تغییر در آدرس پست الکترونیک فعلی نیاز به فعال سازی مجدد آن دارید.</li>
        <li>
            برای جلوگیری از هر گونه اشتباه تغییر کلمه عبور برای تغییر در آدرس پست الکترونیک
            الزامی است.
        </li>
    </ul>


