
@{
    ViewBag.Title = "CustomerFiles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
/*    th {
        padding: 10px 10px;
        background-color: #082b44;
        color: white;
        text-align: center;
        border-left: 1px solid white;
        font-size: 14px;
    }

    td {
        padding: 25px 10px;
        background-color: #082b44;
        color: white;
        text-align: center;
        border-left: 1px solid white;
        font-size: 18px;
        border-top: solid 5px white;
    }*/
</style>



<style>
    th {
        padding: 10px 10px;
        background-color: #082b44;
        color: #f1f2f7;
        text-align: center;
        border: 1px solid #f1f2f7;
        font-size: 14px;
    }

    td {
        padding: 25px 10px;
        background-color: #dcdcdc;
        color: #082b44;
        text-align: center;
        border: 1px solid #f1f2f7;
        font-size: 18px;
        border-top: solid 5px #f1f2f7;
    }
</style>



<center>
    <p style="font-size: 20px;margin-bottom: 50px;">کاربر گرامی با تشکر از شما  برای ورود و استفاده از وب سایت پشتیبانی، برای دریافت بروز رسانی نرم افزار مورد نظر بر روی گزینه مورد نظر کلیک و نسخه به روز رسانی را دریافت کنید.</p>
</center>

<table>
    <thead>
        <tr>
            <th style="border-radius: 0 20px 20px 0;max-width: 100px;">ردیف</th>
            <th>شرح فایل</th>
            <th>توضیحات</th>
            <th style="border-radius: 20px 0 0 20px;width: 200px;">عملیات</th>
        </tr>
    </thead>

    <tbody data-bind="foreach: CustomerFilesList" data-dismiss="modal" style="cursor: default;">
        <tr>
            <td style="border-radius: 0 30px 30px 0;">
                <p data-bind="text: $index() + 1"></p>
            </td>
            <td data-bind="text: FileName"></td>
            <td data-bind="text: $parent.ReplaceSpec(Description)"></td>
            <td style="border-radius: 30px 0 0 30px;">
                <a data-bind="click: $parent.Download">
                    <img src="~/Content/img/Icon_Blue/Download.png" width="40" />
                </a>
            </td>
        </tr>
    </tbody>
</table>

@section scripts{
    <script src="~/Scripts/CustomerFiles.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}


