
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-color:white;border-radius: 25px;padding: 20px; margin-bottom:20px">
    <div class="row">
        <div class="col-md-4">
            <p style="margin-bottom:0px">جستجوی کامل</p>
            <div class="row">
                <input data-bind="value: filter , valueUpdate: 'afterkeydown'" class="form-control" placeholder="عبارت را وارد کنید">
            </div>
        </div>
    </div>
</div>



<div style="background-color:white;border-radius: 25px;padding: 20px;">


    <!-- <div class="accordion" id="accordionExample">

             <a  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                 Collapsible Group Item #1
             </a>

             <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                 Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
             </div>
     </div>
        -->



    <div class="accordion" id="accordionExample1" data-bind="foreach: FilterFag">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="cursor: pointer;">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne" style="border-radius: 15px;">
                    <h4 class="panel-title">
                        <a data-bind="attr: { 'data-target': '#AAA' + Id }" role="button" data-toggle="collapse" data-parent="#accordionExample1" aria-expanded="true" style="color:black">
                            <span style="background-color:#ff980033" data-bind="text: Description"></span>
                        </a>
                    </h4>
                </div>
                <div data-bind="attr: { 'id': 'AAA' + Id }" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <span data-bind="text: Body" style="font-size: 14px;"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<!--

<div class="accordion" id="accordionExample">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                </button>
            </h2>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Collapsible Group Item #2
                </button>
            </h2>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
        </div>
    </div>
</div>

    -->
<!--



<div style="background-color:white;border-radius: 25px;padding: 20px;">

    <div class="accordion" id="accordion2" data-bind="foreach: FAGList">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button"  data-toggle="collapse" data-parent="#accordion" href="#'collapseOne' + Id" aria-expanded="true" style="color:black">
                            Collapsible Group Item #1
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
    -->
<!--

<div class="accordion" id="accordion2" data-bind="foreach: FAGList">



    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" data-bind="text: Id, attr: { href: '#' + Id}"></a>
        </div>
        <div class="accordion-body collapse" data-bind="attr: { id: Id}">
            <div class="accordion-inner">
                <ul>
                    <li>
                        <span data-bind="text: Description"></span><br>
                        <span data-bind="text: Body"></span><br>
                        <span data-bind="text: Title"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

    -->

@section scripts{
    <script src="~/Scripts/FAQ.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}
