
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="padding5r rtl" style="width: 70%; margin: 0 auto;">
    <div class="B">
        نصب SQL Server به صورت تك كاربر و چند كاربره روي تمام ويندوزها بجز Windows 2000 Server
    </div>
    <div class="padding5r">
        <p dir="rtl"><strong><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;"><span style="color: #ff0000;">توجه:قبل از نصب حتما بايد پيش فرض صفحه كليد در ويندوز فارسي باشد</span></span></span></strong></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">1-&nbsp;سي دي&nbsp;SQL Server&nbsp;را داخل درايو قرار دهيد.<br>2-&nbsp;پس از مدتي برنامه نصب و راه اندازي بطور اتوماتيك&nbsp;اجرا خواهد شد.مانند شكل (1).(اگر‍ِCD&nbsp;شما در حالت&nbsp;AutoRun&nbsp;نباشد مي توانيد با باز كردن&nbsp;CD&nbsp;برنامه&nbsp;Setup.exe&nbsp;را دستي اجرا كنيد).</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">3-در شكل (1) گزينه&nbsp;<strong>SQ</strong><strong>L</strong><strong>&nbsp;Server Personal Version</strong>&nbsp;را انتخاب كرده تا صفحه بعدي نصب باز شود.مانند شكل (1).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="http://support.karbordcomputer.com/img/untitled1-1.jpg" alt=""></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 1)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">4-در پنجره باز شده&nbsp;گزينه&nbsp;<strong>SQL Server 2000 Components</strong>&nbsp;را انتخاب كنيد.مانند شكل(2).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">
    &nbsp;
    <img src="~/Content/img/download.jpg" alt="">



</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 2)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">5-در مرحله بعد نصب گزينه&nbsp;<strong>Install Database Server</strong>&nbsp;را انتخاب كنيد.مانند شكل&nbsp;(3&nbsp;).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="261"></span></span></p>
        <p style="text-align: center;" dir="rtl">
            <span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 3)</span></span>
        </p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">6-در صفحه&nbsp;باز شده&nbsp;نصب گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل( 4).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 4)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">7-در&nbsp;اين&nbsp;مرحله نصب ، بدون تغيير حالت پيش فرض گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل (5).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 5)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">8-در اين مرحله گزينه مورد نظر به حالت پيش فرض انتخاب شده سپس گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل(6).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 6)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">9-در اين مرحله نيز همانند مرحله قبل بدون تغيير حالت پيش فرض گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل(7).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 7)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">10-در اين مرحله گزينه&nbsp;<strong>Yes</strong>&nbsp;را انتخاب كنيد .مانند شكل (8).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 8)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">11-در اين مرحله گزينه مورد نظر به حالت پيش فرض انتخاب شده و بدون تغيير حالت پيش فرض گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل (9).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt=""></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 9)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">12-در اين مرحله نيز بدون تغيير حالت پيش فرض گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل (10).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل&nbsp; 10)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">13-در اين مرحله از نصب كه مهمترين مرحله نصب مي باشد كه ضمن آگاهي كامل از فضاهاي خالي هارد ديسك خود بايد درايوي كه بيشترين فضاي خالي براي ذخيره اطلاعات را دارد، انتخاب كنيد بدين منظور بايد يكي از مراحل نصب زير را انتخاب كنيد تا هنگام ذخيره اطلاعات از طريق برنامه با گذشت زمان با مشكلي مواجه نشويد.</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">1-13-اگر درمسير پيش فرض نشان داده شده فضاي درايو به اندازه كافي بود مي توانيد بدون تغييرگزينه هاي پيش فرض با كليك كردن روي گزينه&nbsp;<strong>Next</strong>&nbsp;به مرحله بعد نصب برويد.مانند شكل (11).</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">2-13-اگر در مسير پيش فرض فضا به اندازه كافي نبود ميتوانيد با كليك برروي&nbsp;<strong>گزينه هاي</strong>&nbsp;<strong>Browse</strong>&nbsp;پنجره اي باز مي شود كه مي توانيد مسير مورد نظر را تغيير دهيد مانند شكل(1-11)توجه داشته باشيد كه فقط درايو مورد نظر را تغيير دهيد تا پايگاه اطلاعات و برنامه پايگاه داده در درايو مورد نظر نصب گردد.براي مثال اگر درايو پيش فرض مانند&nbsp;</span></span><strong><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">C:\Program </span></span></strong><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;"><strong>Files\Microsoft SQL Server&nbsp;</strong>بود ميتوانيد فقط باتغيير C به يكي از درايوهايي كه فضاي كافي دارد برنامه و پايگاه داده را به درايو مورد نظر انتقال دهيد.سپس گزينه&nbsp;<strong>Next</strong>&nbsp;را كليك كنيد تا به مرحله بعدي نصب برويد.</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 11)</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل&nbsp;1-11)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">14-در اين مرحله از نصب بدون تغيير حالتهاي پيش فرض ديگر گزينه&nbsp;<strong>Use the Local System account</strong>&nbsp;را انتخاب كنيد سپس گزينه&nbsp;<strong>Next</strong>&nbsp;را انتخاب كنيد.مانند شكل&nbsp;(12).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt=""></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 12)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">15-در اين مرحله با انتخاب&nbsp;<strong>Mixed Mode (Windows Authentication and SQL Server Authentication)</strong>&nbsp;و همچنين با انتخاب گزينه&nbsp;<strong>Blank Password(not</strong><strong>recommended)</strong>&nbsp;گزينه&nbsp;<strong>Next</strong>&nbsp;را كليك كنيد.مانند شكل(13).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt=""></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 13)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">16-در اين مرحله گزينه&nbsp;<strong>Next</strong>&nbsp;را كليك كنيد تا برنامه طبق انتخابهاي قبلي شما شروع به نصب گردد.مانند&nbsp;شكل&nbsp;(14).</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt=""></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 14)</span></span></p>
        <p dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">17-پس از انتخاب مرحله16&nbsp;برنامه شروع به نصب مي شود كه بعد از مدتي برنامه نصب مي شود و آخرين مرحله نصب ظاهر ميشود.مانند شكل&nbsp;(15). با كليك كردن روي گزينه&nbsp;<strong>Finsh</strong>نصب&nbsp;<strong>SQL</strong>&nbsp;<strong>Server</strong>&nbsp;به پايان ميرسد.سپس كامپيوتر را يك بار خاموش و روشن كنيد تا&nbsp;<strong>SQL SERVER</strong>&nbsp;به حالت اجرا در بيايد.</span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">&nbsp;<img src="~/Content/img/download.jpg" alt="" width="350" height="263"></span></span></p>
        <p style="text-align: center;" dir="rtl"><span style="font-size: small;"><span style="font-family: tahoma,arial,helvetica,sans-serif;">(شكل 15)</span></span></p>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/FAQ.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}