
@{
    ViewBag.Title = "آموزش";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="background-color:white;border-radius: 25px;padding: 20px;">
  <div class="row">
      <h5>حسابداری</h5>
  </div>

  <div>

      <img />

  </div>
</div>

@section scripts{
    <script src="~/Scripts/Learn.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}
