@{
    ViewBag.Title = "کاربرد کامپیوتر";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="login-form" style="direction:rtl; padding-top: 50%">

    <p style="color: white;font-size: 20px;text-align-last: right;">
        بخش خدمات آنلاین کاربرد کامپیوتر

    </p>

    <div style="border: 1px solid #eb8121;margin-top: 12px; margin-bottom: 30px;"></div>

    <div class="col-sm-12">
        <p style="color: white;text-align: right;margin-right: 20px;margin-bottom: 10px;"> شماره قفل</p>
        <div class="form-group form-float ">
            <div class="form-line focused fix">
                <input type="text" id="user" class="form-control" style="text-indent: 20px;direction: rtl;padding: 10px 0px 10px 0px" placeholder="شماره قفل را وارد کنید" />
            </div>
        </div>
    </div>

</div>

<div class="col-sm-12">
    <p style="color: white;text-align: right;margin-right: 20px;margin-bottom: 10px;">کلمه عبور</p>
    <div class="form-group form-float">
        <div class="form-line focused fix">
            <input type="password" id="pass" class="form-control rounded-right" style="text-indent: 20px;direction: rtl;padding: 10px 0px 10px 0px" placeholder="کلمه عبور را وارد کنید" />
            
            <button id="toggle-password" type="button" class="d-none"></button>
            <!--<input type="checkbox" onclick="showPass('pass')">Show Password-->
        </div>
    </div>

</div>

<br />
<br />

<div class="form-group btn-container">
    <button type="button" class="btn btn-primary btn-block" data-bind="click:LoginUser , text:'ورود به پنل خدمات آنلاین'" id="Login" style="background-color: #eb8121 !important;height:50px "></button>
</div>

<div class="row" style="margin-top: 15px;">
    <a class="col-md" data-bind="click:RecoveryPassword" style="color: white;font-size: 15px;margin-top: 0px;text-align: right;">بازیابی رمز عبور</a>
</div>

<div class="col-md d-flex" style="margin-top: 15px;">
    <div class="DotText"></div>
    <p style="color: white;font-size: 10px;margin-top: 0px;text-align: right;">در صورت نداشتن اطلاعات کاربری با بخش پشتیبانی شرکت مهندسی کاربرد کامپیوتر تماس بگیرید</p>
</div>



@section scripts{
    <script src="~/Scripts/Login.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}








