@{
    ViewBag.Title = "بازیابی کلمه عبور";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div class="login-form" style="direction:rtl; padding-top: 50%">

    <p style="color: white;font-size: 20px;text-align-last: right;">بازیابی کلمه عبور</p>

    <div style="border: 1px solid #a81010;margin-top: 12px; margin-bottom: 30px;"></div>

    <div class="col-sm-12">
        <p style="color: white;text-align: right;margin-right: 20px;margin-bottom: 10px;">جهت بازیابی کلمه ورود، ایمیل خود را وارد نمایید</p>
        <div class="form-group form-float ">
            <div class="form-line focused fix">
                <input type="text" id="email" class="form-control" style="text-indent: 20px;direction: rtl;padding: 10px 0px 10px 0px" placeholder="ایمیل خود را وارد نمایید" />

            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="form-group btn-container">
        <button type="button" class="btn btn-primary btn-block" data-bind="click:Recovery , text:'ارسال کلمه ورود'" id="Login" style="background-color: #a81010 !important;height:50px "></button>
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="DotText"></div>
        <p class="col-md" style="color: white;font-size: 10px;margin-top: 0px;text-align: right;">در صورت نداشتن اطلاعات کاربری با بخش پشتیبانی شرکت مهندسی کاربرد کامپیوتر تماس بگیرید</p>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/RecoveryPassword.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}



