
@{
    ViewBag.Title = "ارسال فایل";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body, html {
        background-color: white !important;
        background-repeat: no-repeat;
        background-blend-mode: soft-light;
        background-size: cover;
    }

    td, th {
        padding: 5px 5px;
        display: table-cell;
        vertical-align: middle;
    }
</style>

<p style="font-size:16px">حجم فایل های ارسالی نباید بیشتر از 10 مگابایت باشد</p>
<br />
<br />

<div class="col-md" style="border:1px solid #082b44;background-color: #dcdcdc;border-radius: 25px; padding:30px">
    <div style="height: 40px; border-radius: 20px; background-color:#eb8121;width: 200px;position: absolute;top: -20px;right: 4%;white-space: inherit;">
        <center>
            <p style="color:#082b44;font-size: 15px;margin-top: 8px;">آپلود فایل</p>
        </center>
    </div>

    <div class="row">
        <div class="col-md">
            <textarea id="comm" rows="20" class="form-control no-resize auto-growth string autocomplete" style="text-align:justify;border-radius: 30px;padding: 10px;" placeholder="توضیحات فایل ارسالی خود را در این قسمت وارد نمایید"></textarea>
        </div>
        <div class="col-md">
            <input id="upload1" type="file" style="display:none" data-bind="event: {change: $root.fileUpload1}" />
            <input id="upload2" type="file" style="display:none" data-bind="event: {change: $root.fileUpload2}" />
            <input id="upload3" type="file" style="display:none" data-bind="event: {change: $root.fileUpload3}" />

            <table>
                <thead></thead>
                <tbody>
                    <tr>
                        <td style="width:100px">
                            <a id="AddNewFile1" class="btn btn-warning B_Main" style="border-radius: 25px;background-color: #128d35 !important;margin: 0px;">انتخاب فایل</a>
                        </td>
                        <td  style="direction: ltr;text-align: center;">
                            <div style="border:1px solid #082b44;border-radius: 25px;">
                                <p id="NameFile1" style="padding:10px;margin-bottom: 0px;">فایل ارسالی را انتخاب کنید</p>
                            </div>
                        </td>
                        <td style="width:0px">
                            <a  style="color:red;cursor: pointer;" data-bind="event: {click: $root.DelFile1}">
                                <img id="DelFile1" src="~/Content/img/Icon_Blue/delete.png" width="26" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px">
                            <a id="AddNewFile2" class="btn btn-warning B_Main" style="border-radius: 25px;background-color: #128d35 !important;margin: 0px;">انتخاب فایل</a>
                        </td>
                        <td style="direction: ltr;text-align: center;">
                            <div style="border:1px solid #082b44;border-radius: 25px;">
                                <p id="NameFile2" style="padding:10px;margin-bottom: 0px;">فایل ارسالی را انتخاب کنید</p>
                            </div>
                        </td>
                        <td style="width:0px">
                            <a  style="color:red;cursor: pointer;" data-bind="event: {click: $root.DelFile2}">
                                <img id="DelFile2" src="~/Content/img/Icon_Blue/delete.png" width="26" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:100px">
                            <a id="AddNewFile3" class="btn btn-warning B_Main" style="border-radius: 25px;background-color: #128d35 !important;margin: 0px;">انتخاب فایل</a>
                        </td>
                        <td style="direction: ltr;text-align: center;">
                            <div style="border:1px solid #082b44;border-radius: 25px;">
                                <p id="NameFile3" style="padding:10px;margin-bottom: 0px;">فایل ارسالی را انتخاب کنید</p>
                            </div>
                        </td>
                        <td style="width:0px">
                            <a  style="color:red;cursor: pointer;" data-bind="event: {click: $root.DelFile3}">
                                <img id="DelFile3" src="~/Content/img/Icon_Blue/delete.png" width="26" />
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>




            <a id="SendFiles" class="btn btn-warning B_Main col-md-12" style="border-radius: 25px;background-color: #082b44 !important;margin-top: 165px;margin-bottom: 0px;">بارگذاری در پنل ارسال</a>
        </div>

    </div>




</div>


@section scripts{
    <script src="~/Scripts/UploadFiles.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}