
@{
    ViewBag.Title = "اطلاعات شرکت";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .form-control {
        direction: rtl;
        background-color: #f1f2f7;
        margin-bottom: 20px;
        margin-top: 10px;
        width: 95%;
    }
</style>


<div class="col-md-3">
    <p style="font-size: 20px;text-align-last: right; color:#082b44">اطلاعات شرکت</p>

    <div style="border: 1px solid #082b44;margin-top: 12px; margin-bottom: 30px;"></div>
</div>


<div class="row">
    <div class="col-md-10">
        <div style="background-color:white;padding: 10px;border-radius: 10px;">
            <div class="row">
                <div class="col-md-6">
                    <p style="margin-bottom:0px">نام</p>
                    <div class="form-line focused fix">
                        <input id="Name" class="form-control" placeholder="نام را وارد کنید" />
                    </div>

                    <p style="margin-bottom:0px">تلفن ثابت</p>
                    <div class="form-line focused fix">
                        <input id="Tel" class="form-control" placeholder="تلفن ثابت را وارد کنید" />
                    </div>
                    <p style="margin-bottom:0px">موبایل</p>
                    <div class="form-line focused fix">
                        <input id="Mobile" class="form-control" placeholder="موبایل را وارد کنید" />
                    </div>
                    <p style="margin-bottom:0px">پست الکترونیکی</p>
                    <div class="form-line focused fix">
                        <input id="EMail" class="form-control" placeholder="پست الکترونیکی را وارد کنید" />
                    </div>

                    <p style="margin-bottom:0px">آدرس</p>
                    <div class="form-line focused fix">
                        <input id="Address" class="form-control" placeholder="آدرس را وارد کنید" />
                    </div>
                </div>

                <div class="col-md-6">


                        <center style="padding:15px">
                            <img id="imageUser" src="~/Content/img/user.png" width="256" height="256">
                        </center>

                        <center>
                            <a id="DelImage" title="حذف" style="margin-left: 10px;">
                                <img src="~/Content/img/Icon_Blue/delete.png" width="20" height="20">
                            </a>

                            <input id="upload" type="file" style="display:none" data-bind="event: {change: $root.fileUpload}">
                            <a id="AddImage" title="افزودن">
                                <img src="~/Content/img/Icon_Blue/add.png" width="20" height="20">
                            </a>
                        </center>







                </div>

                <!--<div class="col-md-5">
                    <p style="margin-bottom:0px">شخصیت</p>
                    <div class="form-line focused fix">
                        <input id="aaa" class="form-control" placeholder="حقیقی/حقوقی" readonly />
                    </div>
                    <p style="margin-bottom:0px">نام و نام خانوادگی</p>
                    <div class="form-line focused fix">
                        <input id="LName" class="form-control" placeholder="نام و نام خانوادگی خود را کامل وارد کنید" readonly/>
                    </div>
                    <p style="margin-bottom:0px">نام شرکت/ مدیر عامل</p>
                    <div class="form-line focused fix">
                        <input id="aaa" class="form-control" placeholder="نام شرکت/ مدیر عامل خود را کامل وارد کنید" readonly/>
                    </div>
                    <p style="margin-bottom:0px">کد اقتصادی</p>
                    <div class="form-line focused fix">
                        <input id="aaa" class="form-control" placeholder="کد اقتصادی خود را کامل وارد کنید" readonly/>
                    </div>
                    <p style="margin-bottom:0px">شناسه ملی شرکت</p>
                    <div class="form-line focused fix">
                        <input id="aaa" class="form-control" placeholder="شناسه ملی شرکت خود را کامل وارد کنید" readonly/>
                    </div>
                    <p style="margin-bottom:0px">کد ملی</p>
                    <div class="form-line focused fix">
                        <input id="aaa" class="form-control" placeholder="کد ملی خود را کامل وارد کنید" readonly/>
                    </div>
                </div>
                <div class="col-md-1"> </div>
                    <div class="col-md-5">
                        <p style="margin-bottom:0px">زمینه فعالیت</p>
                        <div class="form-line focused fix">
                            <input id="aaa" class="form-control" placeholder="زمینه فعالیت خود را کامل وارد کنید" readonly/>
                        </div>
                        <p style="margin-bottom:0px">آدرس</p>
                        <div class="form-line focused fix">
                            <input id="aaa" class="form-control" placeholder="آدرس خود را کامل وارد کنید" readonly/>
                        </div>
                        <p style="margin-bottom:0px">کد پستی</p>
                        <div class="form-line focused fix">
                            <input id="aaa" class="form-control" placeholder="کد پستی خود را کامل وارد کنید" readonly/>
                        </div>
                        <p style="margin-bottom:0px">تلفن ثابت</p>
                        <div class="form-line focused fix">
                            <input id="aaa" class="form-control" placeholder="تلفن ثابت خود را کامل وارد کنید" readonly/>
                        </div>
                        <p style="margin-bottom:0px">موبایل</p>
                        <div class="form-line focused fix">
                            <input id="aaa" class="form-control" placeholder="موبایل خود را کامل وارد کنید" readonly/>
                        </div>
                        <p style="margin-bottom:0px">پست الکترونیکی</p>
                        <div class="form-line focused fix">
                            <input id="EMail" class="form-control" placeholder="پست الکترونیکی خود را کامل وارد کنید" readonly/>
                        </div>
                    </div>
                </div>-->


            </div>
            <div id="panel_Action">
                <div class="row  form-inline ">
                    <div class="col-md-12 row">
                        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"></div>
                        <div class="col-md pull-left">
                            <button type="button" id="save" class="btn btn-warning B_Main col-md-6" style="border-radius: 25px;background-color: #082b44 !important;margin-bottom: 0px;float:left">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/User.js?dt=@(Support.Controllers.Unit.UnitPublic.titleVerNumber)"></script>
}
